stages:
  - build
  - initial
  - deploy
  # - data-fetch

include:
  - local: '/pipelines/build.yml'
  - local: '/pipelines/initial.yml'
  - local: '/pipelines/deploy.yml'
  # - local: '/pipelines/data-fetch.yml'

