stages:
  - build
  - test
  - data_fetch
  - deploy

before_script:
  - echo "the CI_REGISTRY value is $CI_REGISTRY" 
  - echo "the CI_REGISTRY_USER value is $CI_REGISTRY_USER" 
  - echo "the CI_REGISTRY_PASSWORD is $CI_REGISTRY_PASSWORD" 
  - docker login -u root -p mo1279174 $CI_REGISTRY

# build:
#   stage: build
#   only:
#     - CICD
#   script:
#     docker build 

deploy:
  stage: deploy
  environment: 
    name: prod 
  when: manual
  script: 
    - docker compose down
    - docker compose up --build -d