stages:
  - build
  - test
  - deploy
  - data_fetch

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

build:
  stage: build
  script:
    docker compose --build 

deploy:
  stage: deploy
  # environment: 
  #   name: prod 
  script:
    - docker compose down
    - docker compose up -d

data_fetch:
  stage: data_fetch
  when: manual
  script: 
    - docker compose exec backend python manage.py seed_db
