stages:
  - build
  - test
  - deploy
  - data_fetch

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - echo $CI_REGISTRY


build backend:
  stage: build
  script:
    - docker login -u $CONTAINER_REGISTRY_USER -p $CONTAINER_REGISTRY_PASSWORD $CONTAINER_REGISTRY_URL

    - docker build ./backend -t qemu1:5050/root/gamehub-backend

    - docker push $CONTAINER_REGISTRY_URL/$CONTAINER_REGISTRY_USER/gamehub-backend

build frontend:
  stage: build
  script:
    - docker login -u $CONTAINER_REGISTRY_USER -p $CONTAINER_REGISTRY_PASSWORD $CONTAINER_REGISTRY_URL
    
    - docker build 
      --build-arg VITE_BASE_URL=$VITE_BASE_URL 
      ./frontend -t $CONTAINER_REGISTRY_URL/$CONTAINER_REGISTRY_USER/gamehub-frontend

    - docker push $CONTAINER_REGISTRY_URL/$CONTAINER_REGISTRY_USER/gamehub-frontend


# push_images backend:
#   stage: push_images
#   script:
#     - docker push qemu1:5050/root/gamehub-backend


deploy:
  stage: deploy
  # environment: 
  #   name: prod 
  script:
    - docker compose down
    - docker compose up -d

data_fetch:
  stage: data_fetch
  when: manual
  script: 
    - docker compose exec backend python manage.py seed_db
