# General
.DS_Store
backend_temp
.vscode

# Python/Django
__pycache__/
*.pyc
.venv/
.env
db.sqlite3
static
Tsettings.py

# Node.js/Vite
node_modules/
dist/
.env.local
npm-debug.log
yarn-error.log

/etc/prometheus/my.crt
/etc/prometheus/my.key
/etc/prometheus/qemu1.crt
/etc/alertmanager/my.crt
/etc/alertmanager/my.key
/etc/node_exporter/qemu1.key
/etc/node_exporter/qemu1.crt
