stages:
  - build
  - push_images
  - test
  - deploy
  - data_fetch

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY


build backend:
  stage: build
  script:
    - docker build ./backend -t qemu1:5050/root/gamehub-backend

build frontend:
  stage: build
  script:
    - docker build 
      --build-arg VITE_BASE_URL=$VITE_BASE_URL 
      ./frontend -t qemu1:5050/root/gamehub-frontend


push_images backend:
  stage: push_images
  script:
    - docker push qemu1:5050/root/gamehub-backend

push_images frontend:
  stage: push_images
  script:
    - docker push qemu1:5050/root/gamehub-frontend


deploy:
  stage: deploy
  # environment: 
  #   name: prod 
  script:
    - docker compose down
    - docker compose up -d

data_fetch:
  stage: data_fetch
  when: manual
  script: 
    - docker compose exec backend python manage.py seed_db
