stages:
  - build
  - test
  - data_fetch
  - deploy

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

# build:
#   stage: build
#   only:
#     - CICD
#   script:
#     docker build 

deploy:
  stage: deploy
  # environment: 
  #   name: prod 
  when: manual
  script: 
    - SECRET_KEY=$SECRET_KEY
    - RAWG_API_KEY=$RAWG_API_KEY
    - SEEDING_MAX_PAGES=$SEEDING_MAX_PAGES
    - DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
    - FRONT_END_URL=$FRONT_END_URL
    - REDIS_LOCATION=$REDIS_LOCATION
    - ALLOWED_HOSTS=$ALLOWED_HOSTS
    - DB_NAME=$DB_NAME
    - DB_USER=$DB_USER
    - DB_PASSWORD=$DB_PASSWORD
    - DB_HOST=$DB_HOST
    - DB_PORT=$DB_PORT
    - VITE_BASE_URL=$VITE_BASE_URL
    - docker compose down
    - docker compose up --build -d