services:
  backend:
    image: ${CI_REGISTRY}/root/gamehub/gamehub-backend
    container_name: gamehub-backend
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
      - SECRET_KEY=${SECRET_KEY}
      - RAWG_API_KEY=${RAWG_API_KEY}
      - SEEDING_MAX_PAGES=${SEEDING_MAX_PAGES}
      - FRONTEND_URL=${FRONTEND_URL}
      - REDIS_LOCATION=${REDIS_LOCATION}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    depends_on:
      - db
      - redis

  frontend:
    image: ${CI_REGISTRY}/root/gamehub/gamehub-frontend
    container_name: gamehub-frontend
    restart: unless-stopped
    ports:
      - "3000:80"

  db:
    image: postgres:17.5-alpine
    container_name: gamehub-db
    restart: unless-stopped
    # Store DataBase data to postgres_data
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - 5432:5432

  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter
    container_name: postgres_exporter
    restart: unless-stopped
    environment:
      # Format: postgres://user:password@hostname:5432/dbname?sslmode=disable
      - DATA_SOURCE_NAME=postgresql://${DB_POSTGRES_EXPORTER_USER}:${DB_POSTGRES_EXPORTER_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable
    ports:
      - "9188:9187"
    depends_on:
      - db

  redis:
    restart: unless-stopped
    image: redis:6-alpine
    container_name: gamehub-redis

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./etc/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./etc/prometheus/web.yml:/etc/prometheus/web.yml
      - ./etc/my.crt:/etc/prometheus/my.crt
      - ./etc/my.key:/etc/prometheus/my.key
      - ./etc/prometheus/qemu1.crt:/etc/prometheus/qemu1.crt
      - ./etc/prometheus/rules/alerts.yml:/etc/prometheus/rules/alerts.yml
      - ./etc/prometheus/rules/recording_rules.yml:/etc/prometheus/rules/recording_rules.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.config.file=/etc/prometheus/web.yml'
      - '--web.page-title=Prometheus'
      - '--storage.tsdb.path=/prometheus'
    ports:
      - "9090:9090"

  alertmanager:
    image: prom/alertmanager
    container_name: alertmanager
    restart: unless-stopped
    volumes:
      - ./etc/alertmanager/alertmanager.yml:/etc/alertmanager/alertmanager.yml
      - ./etc/alertmanager/web.yml:/etc/alertmanager/web.yml
      - ./etc/my.key:/etc/alertmanager/my.key
      - ./etc/my.crt:/etc/alertmanager/my.crt
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
      - '--web.config.file=/etc/alertmanager/web.yml'
    ports:
      - "9093:9093"

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3002:3000"

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - ./etc/node_exporter/node_web.yml:/etc/node_exporter/node_web.yml
      - ./etc/my.key:/etc/node_exporter/my.key
      - ./etc/my.crt:/etc/node_exporter/my.crt
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--web.config.file=/etc/node_exporter/node_web.yml'
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
       - "9101:9100"


# Create postgres_data if it dosen't exist already
volumes:
  postgres_data:
  prometheus_data:
  grafana_data:
