services:
  backend:
    build: ./backend
    container_name: gamehub-backend
    # command: gunicorn gamehub.wsgi --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=gamehub.settings.prod
      - SECRET_KEY=${SECRET_KEY}
      - RAWG_API_KEY=${RAWG_API_KEY}
      - SEEDING_MAX_PAGES=${SEEDING_MAX_PAGES}
      - FRONTEND_URL=${FRONTEND_URL}
      - REDIS_LOCATION=${REDIS_LOCATION}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DB_NAME="gamehub_db"
      - DB_USER="postgres"
      - DB_PASSWORD="postgres"
      - DB_HOST="db"
      - DB_PORT="5432"
    depends_on:
      - db
      - redis

  frontend:
    build: 
      context: ./frontend
      args:
        - VITE_BASE_URL=${VITE_BASE_URL}
    container_name: gamehub-frontend
    ports:
      - "3000:80"
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - RAWG_API_KEY=${RAWG_API_KEY}

  db:
    image: postgres:17.5-alpine
    container_name: gamehub-db
    # Store DataBase data to postgres_data
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB="gamehub_db"
      - POSTGRES_USER="postgres"
      - POSTGRES_PASSWORD="postgres"

  redis:
    image: redis:6-alpine
    container_name: gamehub-redis

# Create postgres_data if it dosen't exist already
volumes:
  postgres_data:
