services:
  backend-us:
    build: ./backend
    container_name: gamehub-backend-us
    command: "gunicorn gamehub.wsgi --bind 0.0.0.0:8001 --workers 2 --worker-class gevent --timeout 120 --log-level=debug"
    restart: unless-stopped
    # ports:
    #   - "8001:8001"
    environment:
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
      - SECRET_KEY=${SECRET_KEY}
      - RAWG_API_KEY=${RAWG_API_KEY}
      - SEEDING_MAX_PAGES=${SEEDING_MAX_PAGES}
      - FRONTEND_URL=${FRONTEND_URL}
      - REDIS_LOCATION=${REDIS_LOCATION}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    depends_on:
      - db
      - redis
  backend-eu:
    build: ./backend
    container_name: gamehub-backend-eu
    command: "gunicorn gamehub.wsgi --bind 0.0.0.0:8002 --workers 2 --worker-class gevent --timeout 120 --log-level=debug"
    restart: unless-stopped
    # ports:
    #   - "8002:8002"
    environment:
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
      - SECRET_KEY=${SECRET_KEY}
      - RAWG_API_KEY=${RAWG_API_KEY}
      - SEEDING_MAX_PAGES=${SEEDING_MAX_PAGES}
      - FRONTEND_URL=${FRONTEND_URL}
      - REDIS_LOCATION=${REDIS_LOCATION}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    depends_on:
      - db
      - redis
  backend-me:
    build: ./backend
    container_name: gamehub-backend-me
    command: "gunicorn gamehub.wsgi --bind 0.0.0.0:8003 --workers 2 --worker-class gevent --timeout 120 --log-level=debug"
    restart: unless-stopped
    # ports:
    #   - "8003:8003"
    environment:
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
      - SECRET_KEY=${SECRET_KEY}
      - RAWG_API_KEY=${RAWG_API_KEY}
      - SEEDING_MAX_PAGES=${SEEDING_MAX_PAGES}
      - FRONTEND_URL=${FRONTEND_URL}
      - REDIS_LOCATION=${REDIS_LOCATION}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
    depends_on:
      - db
      - redis

  lb:
    image: nginx:1.21-alpine
    container_name: lb
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./etc/nginx/:/etc/nginx/
    depends_on:
      - backend-us
      - backend-eu
      - backend-me

  frontend:
    build: 
      context: ./frontend
      args:
        - VITE_BASE_URL=${VITE_BASE_URL}
    container_name: gamehub-frontend
    restart: unless-stopped
    ports:
      - "3000:80"

  db:
    image: postgres:17.5-alpine
    container_name: gamehub-db
    restart: unless-stopped
    # Store DataBase data to postgres_data
    volumes:
      - postgres_data_beta:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}

  redis:
    image: redis:6-alpine
    container_name: gamehub-redis
    restart: unless-stopped

  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter
    container_name: postgres_exporter
    restart: unless-stopped
    environment:
      # Format: postgres://user:password@hostname:5432/dbname?sslmode=disable
      - DATA_SOURCE_NAME=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable
    ports:
      - "9188:9187"
    depends_on:
      - db

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - ./etc/node_exporter/node_web.yml:/etc/node_exporter/node_web.yml
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--web.config.file=/etc/node_exporter/node_web.yml'
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
       - "9101:9100"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./etc/prometheus/:/etc/prometheus/
      - ./etc/prometheus/rules/:/etc/prometheus/rules/
      - prometheus_data_beta:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.config.file=/etc/prometheus/web.yml'
      - '--web.page-title=Prometheus'
      - '--storage.tsdb.path=/prometheus'
    ports:
      - "9091:9090"

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    volumes:
      - grafana_data_beta:/var/lib/grafana
      - ./etc/grafana/provisioning/:/etc/grafana/provisioning/
    ports:
      - "3002:3000"

# Create postgres_data if it dosen't exist already
volumes:
  postgres_data_beta:
  prometheus_data_beta:
  grafana_data_beta:
