[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
django-cors-headers = "*"
django-redis = "*"
djangorestframework = "*"
django-filter = "*"
drf-nested-routers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
python-decouple = "*"
whitenoise = "*"
gunicorn = "*"
gevent = "*"

[dev-packages]
locust = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.11"
