# replicaCount: 2

image:
  repository: 172.20.10.11:5050/root/gamehub/gamehub-frontend
  # image tag will be overriden by $CI_COMMIT_SHORT_SHA
  tag: latest   
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

resources:
  requests:
    memory: "128Mi"
    cpu: "250m"
  limits:
    memory: "256Mi"
    cpu: "500m"

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
startupProbe:
  httpGet:
    path: /
    port: http
  periodSeconds: 5
  failureThreshold: 30  

livenessProbe:
  httpGet:
    path: /
    port: http
  periodSeconds: 20
  failureThreshold: 3  

readinessProbe:
  httpGet:
    path: /
    port: http
  periodSeconds: 10

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

