datasources:
  - name: Prometheus
    type: prometheus
    url: http://prometheus:9090
    access: proxy
    basicAuth: true
    basicAuthUser: admin
    
    jsonData:
      tlsSkipVerify: true
      
    secureJsonData:
      basicAuthPassword: admin
      
    isDefault: true
    editable: true