apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-statefulset
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  serviceName: postgres-service
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: docker.arvancloud.ir/postgres:17.5-alpine
        envFrom:
          - secretRef:
              name: postgres-secret
        volumeMounts:
        - mountPath: /var/lib/postgresql/data/
          name: postgres-storage
        ports:
        - containerPort: 5432
        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "256Mi"
            cpu: "500m"
      - name: postgres-exporter
        image: quay.io/prometheuscommunity/postgres-exporter
        envFrom:
          - secretRef:
              name: postgres-exporter-secret
        ports:
        - containerPort: 9187
        resources:
          requests:
            memory: "128Mi"
            cpu: "250m"
          limits:
            memory: "256Mi"
            cpu: "500m"

  volumeClaimTemplates:
  - metadata:
      name: postgres-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: manual-nfs
      resources:
        requests:
          storage: 250Mi
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
spec:
  selector:
    app: postgres
  ports:
  - port: 5432
    targetPort: 5432
    name: postgres
  - port: 9187
    targetPort: 9187
    name: postgres-exporter


