apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
stringData:
  POSTGRES_DB: DATABASE_NAME            # "gamehub_db"
  POSTGRES_USER: POSTGRES_USER          # postgres default admin user is "postgres"
  POSTGRES_PASSWORD: POSTGRES_PASSWORD  # postgres default admin password is "postgres"
